{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4" style="max-width: 1900px;">
        <h3 class="mb-4">Lista de Usuários</h3>
        <a href="{% url 'users:user_create' %}" class="btn btn-primary mb-4">Novo Usuário</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Username</th>
                    <th>Permissões</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            {% for group in user.groups.all %}
                                {{ group.name }}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'users:user_update' user.id %}"
                               class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'users:user_delete' user.id %}"
                               class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <nav aria-label="Paginação">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Anterior</span>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Próxima</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}
