<div class="card dashboard-card">
    <div class="card-header">
        <h3 class="card-title">⚠️ Conferências canceladas</h3>
    </div>
    <div class="card-body table-responsive">
        <table class="metric-table" id="table-cancelled">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Criado por</th>
                    <th>Criado em</th>
                    <th>Atualizado em</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
