<div class="card dashboard-card">
    <div class="card-header">
        <h3 class="card-title">📦 Conferências em andamento</h3>
    </div>
    <div class="card-body table-responsive">
        <table class="metric-table" id="table-conferences-in-progress">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Iniciado por</th>
                    <th>Início</th>
                    <th>Tempo</th>
                    <th>Lidos</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
