<div class="card dashboard-card">
    <div class="card-header">
        <h3 class="card-title">🔎 Auditoria completa</h3>
    </div>
    <div class="card-body table-responsive">
        <table class="metric-table" id="table-audit">
            <thead>
                <tr>
                    <th>Conferência</th>
                    <th>Pacote</th>
                    <th>Lido por</th>
                    <th>Lido em</th>
                    <th>Status</th>
                    <th>Origem</th>
                    <th>Destino</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
