<div class="card dashboard-card">
    <div class="card-header">
        <h3 class="card-title">⏳ Tempo parado</h3>
    </div>
    <div class="card-body table-responsive">
        <table class="metric-table" id="table-idle-time">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Origem</th>
                    <th>Destino</th>
                    <th>Operador</th>
                    <th>Sem leitura</th>
                    <th>Total</th>
                    <th>Última leitura</th>
                    <th>Parado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
