{% extends 'base.html' %}
{% load static %}
{% block title %}
    Conferir
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'logistics/css/conference_action.css' %}">
{% endblock head %}
{% block content %}
    <div class="container mt-4">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="mb-3 text-center">Conferência de volumes</h3>
                <!-- INPUT DE BIPAGEM -->
                <input id="barcodeInput"
                       name="package_code"
                       type="text"
                       class="form-control form-control-lg mb-3"
                       placeholder="Bipe o código do volume...">
                <!-- INFO DO DOCUMENTO -->
                <div class="alert alert-secondary text-center">
                    <input type="hidden" name="conference_id" value="{{ conference.id }}">
                    Documento em conferência:
                    <strong id="documentNumber">{{ conference.document_number }}</strong>
                    <br>
                    Origem:
                    <strong id="documentType">{{ conference.origin.entity.name }}</strong>
                    <br>
                    Destino:
                    <strong id="documentType">{{ conference.destination.entity.name }}</strong>
                </div>
                <!-- CONTADORES -->
                <div class="row text-center mb-3">
                    <div class="col">
                        <h5>Quantidade Lida</h5>
                        <span id="totalRead" class="badge bg-success fs-5">0</span>
                    </div>
                    <div class="col">
                        <h5>Contador Auxiliar</h5>
                        <span id="blueCounter" class="badge bg-primary fs-5">0</span>
                        <button id="resetCounter" class="btn btn-sm btn-outline-primary ms-2">Resetar</button>
                    </div>
                </div>
                <!-- TABELA DE VOLUMES -->
                <table class="table table-striped" id="packagesTable">
                    <thead>
                        <tr>
                            <th>Cód. Volume</th>
                            <th class="text-end">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Preenchido dinamicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
    console.log("TESTE: script carregado");
    const ADD_ENDPOINT = "{% url 'logistics:conference_add_package' conference.id %}";
    const REMOVE_ENDPOINT = "{% url 'logistics:conference_remove_package' conference.id %}";
    const CSRF_TOKEN = "{{ csrf_token }}";
    const CONFERENCE_ID = "{{ conference.id }}";
    console.log(ADD_ENDPOINT)
    </script>
    <script src="{% static 'logistics/js/conference_action.js' %}"></script>
{% endblock content %}
